@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: teal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

header h1 {
  color: rgb(14, 1, 1);
  font-size: 2rem;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }
}

div.rectangle-container {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

div.rectangle1 {
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 5px;
}

div.rectangle2 {
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 5px;
}

div.rectangle3 {
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 5px;
}

div.field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
}

div.field-box {
  background: rgb(2, 66, 2);
  border: 1px solid #fff;
  padding: 20px 40px;
  height: 50vh;
  width: 60%;
  position: relative;
}

div.big-box1 {
  position: absolute;
  background: #fff;
  width: 15%;
  height: 1px;
  top: 50px;
  left: -1px;
}

div.box2-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.big-box2 {
  position: absolute;
  background: #fff;
  width: 27%;
  height: 1px;
  transform: rotate(90deg);
  top: 9.9em;
  right: 35.5em;
}

div.big-box3 {
  position: absolute;
  background: #fff;
  width: 15%;
  height: 1px;
  top: 16.5em;
  left: -1px;
}

div.small-box1 {
  position: absolute;
  background: #fff;
  width: 5%;
  height: 1px;
  top: 7em;
  left: -1px;
}

div.small-box2 {
  position: absolute;
  background: #fff;
  width: 11.8%;
  height: 1px;
  top: 9.9em;
  left: -7.2px;
  transform: rotate(90deg);
}

div.small-box3 {
  position: absolute;
  background: #fff;
  width: 5%;
  height: 1px;
  top: 12.8em;
  left: -1px;
}

div.line {
  position: absolute;
  background: #fff;
  width: 23.5%;
  height: 1px;
  transform: rotate(90deg);
}

div.circle {
  position: absolute;
  background: transparent;
  width: 150px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
}
